:root{
 --primary:#ECECEC;  
 --shadow:0 1px 10px #404040;
 --dark: #4d4848;
 --light: #FFFFFF;

}

#container{
    display:flex;
    justify-content: space-around;
    box-shadow: var(--shadow); 
    background-color: var(--primary); 
    height: 850px; 
}


#center{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    flex-wrap: wrap;
    flex: 4 0 auto;
    overflow-y: scroll;
}

h1{
    text-decoration: underline;
    justify-content: center;
    padding: 8px;
    font-weight: 400px;
    letter-spacing: .09em;
    text-transform: uppercase;
    font-size: 24px;
 }


.error {
    color: red;
    font-size:13px;
} 

#image-preview{
    max-width: 250px;
    min-height: 250px;
    box-shadow: var(--shadow);
    margin-bottom: 15px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#image-preview-image{
    display:none;
    width: 99%;
}

.formBox {
    display:flex;
    flex-wrap:wrap;
    justify-content: center; 
    align-self: center;
    flex-direction: column;
    padding: 10px;
}

input{
    max-width: 100%;
    width: 200px;
    margin-top: 5px;
}

::placeholder {
    color:var(--dark);
    font-size: 13px;
    text-align: center;
}

#registerDogButton {
    display: flex;
    padding-top: 10px;
    justify-content: center;
}

#rightPhotos #leftPhotos {
    display:flex;
    flex:1 4 auto;
}

#rightPhotos {
    transform: scaleX(-1);
}

#poodlePhoto {
    max-width: 100%;
 }

@media (max-width:960px){
    h1{
        font-size:18px;
    }

    .formBox{
        font-size: 13px;
    }

    ::placeholder{
        font-size: 12px;
    }

    #rightPhotos{
        display:none;
        margin: 0 auto;
    }

}

@media (max-width:620px) {
    #container{
        flex-direction: column-reverse;
        justify-content: center;
        height: max-content;
    }

    #poodlePhoto{
        height: 400px;  
    }
   
   #leftPhotos{
       display: flex;
       justify-content: center;
   }

   #center{
       overflow-y: auto;
   }
}