:root{
 --primary:#ECECEC;  
 --shadow:0 1px 10px #404040;
 --dark: #4d4848;
 --light: #FFFFFF;
}

/* Navigation Bar */

.main-nav ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    list-style: none;
    grid-gap: 20px;
    padding: 0;
}
    
.main-nav a{
    background: var(--primary);
    color: var(--dark);
    box-shadow: var(--shadow);
    text-align: center;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    padding: 20px;
    font-size: 20px;
}
    
.main-nav a:hover{
    background: var(--dark);
    color: var(--light);
}
.container{
    display:flex;
    align-content: center;
    justify-content: space-between;
    box-shadow: var(--shadow); 
    background-color: var(--primary); 
}

.poodles-left{
    max-height: 425px;
    border-radius: 40%;
    box-shadow: var(--shadow);
    max-width: 100%;
}

.img{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding:25px;
}

.poodles-right{
    max-height: 425px;
    border-radius: 40%;
    box-shadow: var(--shadow);
    transform: scaleX(-1);
    max-width: 100%;
}

.center{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    flex-wrap: wrap;
}

.form{
    display: flex;
    flex-direction: column;
}

h1{
    text-decoration: underline;
    align-self: center;
    padding: 8px;
    font-weight: 400px;
    letter-spacing: .09em;
    text-transform: uppercase;
    font-size: 24px;
 }

.error{
    font-size: 15px;
    color: red;
} 

.valid{
    font-size: 15px;
    color:green;
}

.image-preview{
    height: 300px;
    width: 200px;
    box-shadow: var(--shadow);
    margin-bottom: 15px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.image-preview-image{
    display:none;
    width: 200px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.form-box{
    display:flex;
    flex-wrap:wrap;
    justify-content: center; 
    align-self: center;
    flex-direction: column;
    padding: 10px;
}

input{
    max-width: 100%;
    width: 200px;
    margin-top: 5px;
}

input[type=text]:hover{
    border: 2px solid #555;
}

::placeholder{
    color:var(--dark);
    font-size: 13px;
    text-align: center;
}

.form-box:hover .input-message-box {
    position: absolute;
    content: attr(title);
    display: inline-block;
    left: 0px;
    top: 0px;
    background-color: black;
    color: white;
}

.register-dog-button{
    display: flex;
    padding-top: 10px;
    justify-content: center;
}

 footer{
    display: flex;
    align-items: center;
    justify-content: center;;
    background: var(--dark);
    color: var(--light);
    box-shadow: var(--shadow);
    font-size: 20px;
    padding: 0;
    max-width:100%;
    margin-top: 10px;
}
    
.footer-text{
    justify-content: center;
    align-content: center;
} 

@media (max-width:960px){
    .main-nav ul{
        grid-template-columns: repeat(2,1fr);
    }
    .poodles-left{
        display:none;
        margin: 0 auto;
    }
}

@media (max-width:726px){

    .main-nav ul{
        grid-template-columns: repeat(1,1fr);
    }
    
    .container{
        flex-direction: column-reverse;
        justify-content: center;
        height: max-content;
    }

    .poodles-right{
        display: none;
    }
}